<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
	
		<add name="IGPortal" connectionString="Data Source=92.204.4.195; Initial Catalog=IG-Portal; User ID=IGPortal;Password=admin@@123;" providerName="System.Data.SqlClient"/>
		
		<!--<add name="VisitorManagementSystemEntities1" connectionString="metadata=res://*/Data.OrthoSquare.csdl|res://*/Data.OrthoSquare.ssdl|res://*/Data.OrthoSquare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.204.4.195;initial catalog=VisitorAanagement;persist security info=True;user id=VisitorVisitorAanagementAdmin;password=admin@@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
  <system.web>
	  <httpHandlers>
    <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     validate="false" />
   </httpHandlers>
   <machineKey
validationKey="519894C7945E541923BC98BC2B746E9BABD26B2260303DC5D5549EE3319C9781B356DE9F5C301C89525DD9D51364656C115E95B976DF3CD77BD0AF85FB4EAAE3"
decryptionKey="27639A53C19058721848996A0F9C2289381667CE53C40155A9009EBBA0A34EAD"
validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
	  <siteMap defaultProvider="XmlSiteMapProvider"  >
		  <providers>
			  <clear />
			 <add name="XmlSiteMapProvider" description="Default SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
			  <add name="SiteMapManagerWM" siteMapFile="~/ManagerWM.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapAdminWM" siteMapFile="~/AdminWM.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapEmployeeWM" siteMapFile="~/EmployeeWM.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			   <add name="SiteMapConsultantWM" siteMapFile="~/ConsultantWM.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapClientWM" siteMapFile="~/ClientWM.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapSupport" siteMapFile="~/Support.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapHR" siteMapFile="~/HR.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			  <add name="SiteMapSales" siteMapFile="~/Sales.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			   <add name="SiteMapQA" siteMapFile="~/QA.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
		   <remove name="MySqlSiteMapProvider" />
		  </providers>
	  </siteMap>
	  <customErrors mode="Off"/>
	  <sessionState timeout="20"></sessionState>
	  <pages>
		  <controls>
			  <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		  </controls>
	  </pages>
	  
  </system.web>

	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
  <validation validateIntegratedModeConfiguration="false" />
 </system.webServer>
	
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;" />
	</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
